<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Тренировки</title>
    </head>
    <body>
        <h1> Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
         {% if 'электрик' in title: %}
        <h2>Вам в комнату электрики</h2>
        <img src="{{url_for('static', filename='img/electric.jpg')}}">
        {% elif 'врач' in title: %}
       <h2>Вам в больничную комнату</h2>
        <img src="{{url_for('static', filename='img/medicine.jpg')}}">
        {% endif %}
    </body>
</html>